body{
    background-color:rgb(250, 246, 252);
    margin: 0;
    right: 0;
    left: 0;
}

#grillaGeneralLServicios{
    display: grid;
}
@media only screen and (min-width:920px) {
    header{
        width: 100%;
        padding: auto;
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
        right: 0;
        flex-wrap: wrap;
        background-color: white;
    }
    
    .toppage{
        position: sticky;
    
    }
    .toppage h1{
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin: 10px;
        padding: 5px;
    }
    .toppage h1 a{
        text-decoration: none;
        color: blue;
    }
    .menu{
        list-style: none;
        padding: 0;
        width: auto;
        max-width: 800px;
        margin: auto;
    }
    .menu li{
        display: inline-block;
        text-align: center;
    }
    .menu li a{
        text-decoration: none;
        color: rgba(10, 6, 6, 0.979);
        padding: 20px;
        display: block;
    }
    .menu li a:hover{
        background-color: rgb(248, 246, 248);
        border-bottom: solid 1px blue;
    }
    .nav-link-active{
        background-color:whitesmoke;
        font-weight: bold;
        border-bottom: solid 1px red;
    }
    
    nav{
        padding: 1px;
        display: flex;
        text-align: center;
    }
    #grillaGeneralLServicios{
        grid-template-columns: 100%;
        grid-template-rows: 300px 450px 450px 450px 450px 450px;
        grid-template-areas: "Titulo"
                              "AContable"
                              "ATributaria"
                              "AFinanciera"
                              "ALaboral"
                              "Capacitaciones"
    }
    #TituloServicios{
        grid-area: Titulo;
        margin-bottom: 20px;
    }
    #AsesoriaContable{
        grid-area: AContable;
        margin-bottom: 20px;
    }
    #AsesoriaTributaria{
        grid-area: ATributaria;
        margin-bottom: 20px;
    }
    #AsesoriaFinanciera{
        grid-area: AFinanciera;
        margin-bottom: 20px;
    }
    #AsesoriaLaboral{
        grid-area: ALaboral;
        margin-bottom: 20px;
    }
    #Capacitaciones{
        grid-area: Capacitaciones;
        margin-bottom: 20px;
    }

    .toppagelinea{
        background-image: url(Imagenes/fondo-linea-servicios);
        background-size: cover;
        height: 90%;
        width: 100%;
        margin-top: 5px;
    }

    .toppagelinea h2{
        text-align: center;
        margin: auto;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        font-size: 50px;
        color:rgb(29, 1, 151);
    }
    .servicioscontenido{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;

    }
    .contenidobox1{
        width: 40%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(Imagenes/fondo-linea-servicios-2.jpg);
        background-size: cover;
    }
    
    .contenidobox1 h2{
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color:rgb(7, 7, 5);
    }
    .contenidobox1 h2:hover{
        font-size: 35px;
        transition: 1.5s;
        color:rgb(14, 11, 219);
    }
    .contenidobox1 h3 a{
        text-decoration: none;
        color: blue;
    }
    .contenidobox1 h3:hover{
        font-size: 30px;
        transition: 1.5s;
        border-bottom: solid 1px blue;
    }

    
    .parrafoCapacitaciones{
        width: 70%;
        align-items: center;
        justify-content: center;
        border: solid;
    }

    .contenidobox2{
        width: 40%;
        display: flex;
        align-items: center;
        
    }
    .contenidobox2 h3{
        margin-left: 25px;
    }
    .contenidobox2 h3 a{
        color: rgb(41, 54, 241);
        font-size: 30px;
        font-weight: 100px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-decoration: none;

    }
    .contenidobox2 h3 a:hover{
        background-color: blanchedalmond;
    }
    .asesoriacimagen{
        background-image: url(Imagenes/servicios-asesoria-contable.jpg);
        background-size:cover;
    }
    .asesoriatimagen{
        background-image: url(Imagenes/servicios-asesoria-tributaria.jpg);
        background-size: cover;
    }
    .asesoriafimagen{
        background-image: url(Imagenes/servicios-asesoria-financiera.jpg);
        background-size: cover;
    }
    .asesorialimagen{
        background-image: url(Imagenes/servicios-asesoria-laboral.jpg);
        background-size: cover;
    }
    .capacitacionimagen{
        background-image: url(Imagenes/servicios-capacitaciones.jpg);
        background-size:cover;
    }
    main{
        left: 0;
        right: 0;
    }       
    .bottompage{
        background-color: rgb(70, 68, 68);
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    /*se crea la clase que define el contenedor principal de cada seccion del footer*/
    .bottompagecontent{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .bottompage-footer-head{
        height: 30%;
    }
    .bottompage-footer-body{
        height: 70%;
    }
    .bottompage-footer-head-title{
        width: 100%;
    }
    
    /*se crea estilo para el contenedor general de la seccion Enlaces de interes*/
    .enlacescontenido{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .titulos-footer{
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        color: white;
    }
    /*se crea la clase que define los tamaños y especiados de los iconos de los enlaces de interes*/
    .link-icon{
        width: 30%;
        padding-left: 20px;
    }
    /*se crea la clase que define el nombre de cada enlace de intereses*/
    .link-title{
        width: 70%;
    }
    /*se crea la clase que define el estilo de cada nombre de los enlaces de intereses*/
    .link-title h5{
        width: 80%;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }
    /*se crea la clase que formate el estilo de la etiqueta a*/
    .link-title h5 a{
        text-decoration: none;
        color: white;
    }
    .link-title h5 a:hover{
        color: rgb(22, 133, 236);
    }
    .contacto-contenido{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacto-datos{
        display: inline;
        height: 100%;
    }
    .contacto-datos li{
        list-style: none;
        width: 100%;
        height: 30%;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
    }

    /*se crea la clase que estable el estilo de la seccion de las formas de pagos de los clientes*/
    .bottompagepagos{
        display: flex;
        flex-direction: column;
    }
    /**/
    .bottompagepagos li {
        list-style: none;
        padding: 10px;
    }       

    
}

@media only screen and (max-width:480px) {
    #grillaGeneralLServicios{
        grid-template-columns: 100%;
        grid-template-rows: 300px 230px 230px 230px 230px 230px;
        grid-template-areas: "Titulo"
                              "AContable"
                              "ATributaria"
                              "AFinanciera"
                              "ALaboral"
                              "Capacitaciones";
        justify-content: center;
        align-items: center;
    }
    #TituloServicios{
        grid-area: Titulo;
        background-image: url(Imagenes/fondo-linea-servicios);
        background-size: cover;
        justify-self: center;
        height: 100%;
        width: 95%;
    }
    #AsesoriaContable{
        grid-area: AContable;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 10px;   
    }
    #AsesoriaTributaria{
        grid-area: ATributaria;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 10px;
    }
    #AsesoriaFinanciera{
        grid-area: AFinanciera;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 10px;
    }
    #AsesoriaLaboral{
        grid-area: ALaboral;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 10px;
    }
    #Capacitaciones{
        grid-area: Capacitaciones;
        height: 100%;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-self: center;
        margin-top: 10px;
    }
    .toppagelinea{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .toppagelinea h2{
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 25px;
        color: burlywood;
    }
    .servicioscontenido{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .contenidobox1{
        background-image: url(Imagenes/fondo-linea-servicios-2.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenidobox1 h2{
        font-family: 'Times New Roman', Times, serif;
    }
    .contenidobox1 li{
        list-style: element(-);
        font-family: 'Times New Roman', Times, serif;
        font-size: 13px;
    }
    .contenidobox1 p{
        margin: 5px;
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15px;
    }

    .contenidobox1 h3 a{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-decoration: none;
        color: blue;
    }
    .asesoriacimagencontenidobox2{
        background-image: url(Imagenes/servicios-asesoria-contable.jpg);
        background-size: cover;
    }
    .bottompage{
        background-color: rgb(70, 68, 68);
        display: flex;
        flex-direction: column;
    }
    .bottompagecontent{
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
    .bottompagecontent h4{
        text-align: center;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .bottompagecontent li{
        color: white;
        font-weight: 600;
        list-style: none;
        padding: 3px;
        display: block;
    }
    .bottompagecontent li a{
        text-decoration: none;
        color: white;
    }
    .enlacescontenido{
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    .link-icon{
        width: 30%;
        padding-left: 20px;
    }
    .link-title{
        width: 70%;
    }
    .link-title h5{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
    }
    .link-title h5 a{
        text-decoration: none;
        color: rgb(255, 251, 251);
    }
}



