/*se estable el color de fondo del cuerpo de la pagina*/
body{
    background-color:rgb(250, 246, 252);
    margin: 0;
    right: 0;
    left: 0;
}
@import "_estructuras.scss";
@import "_tipografias";
/*se crea la grilla principal de la pagina de noticias*/
#grillaGeneralNoticias{
    display: grid;
}
 /*se crea la media query correspondiente cuando el navegado usado es mayor a 992px*/   
 @media only screen and (min-width: 992px){
    /*clase general del encabezado, se repite en todas las secciones de la pagina */
        header{
            width: 100%;
            padding: auto;
            display: flex;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            flex-wrap: wrap;
            background-color: white;
        }
    /*grilla general de la pagina de noticias que contiene 2 columnas y 3 filas con sus respectivas areas nombradas*/
        #grillaGeneralNoticias{
            grid-template-columns: 50% 50%;
            grid-template-rows: 250px 500px 500px;
            grid-template-areas: "titulo titulo"
                                 "noticia1 noticia2"
                                 "noticia3 noticia4";
        }
        /*primera seccion de la grilla que corresponde al titulo principal*/
        #tituloNoticias{
            grid-area: titulo;
            height: 250px;
        }
        /*segunda seccion que correspende a la primera noticia*/
        #noticia1{
            grid-area: noticia1;
        }
        /*segunda seccion que correspende a la segunda noticia*/
        #noticia2{
            grid-area: noticia2;
        }
        /*segunda seccion que correspende a la tercera noticia*/
        #noticia3{
            grid-area: noticia3;
        }
        /*segunda seccion que correspende a la cuarta noticia*/
        #noticia4{
            grid-area: noticia4;
        }
        /*clase que define el encabezado de la pagina, titulo y menu de navegacion de la pagina que se repite en todas las secciones principales de todas la pagianas*/
        nav{
            padding: 1px;
            display: flex;
            text-align: center;
        }
        main{
            left: 0;
            right: 0;
        }
        .toppagenoticias{
            background-image: url(Imagenes/fondonoticias.jpg);
            background-size: cover;
            @include alturaxancho(250px,100%);
            display: flex;
            margin: auto;
            margin-bottom: 30px;
        }
        /*se crea la clase que define el estilo del titulo de la pagina noticias*/
        .toppagenoticias h2{
            margin: auto;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 200;
            font-size: 40px;
            font-weight: bold;
            color:rgb(5, 7, 119);
        }
        .toppagenoticias h2:hover{
            font-size: 50px;
            transition: 2s;
            font-weight: bold;
            color:rgb(18, 18, 20);
        }
        /*se crea la clase que define el estilo de la primera noticia, principalmente la composicion de los elementos de cada seccion de noticias, es igual para todas la noticias*/
        .primeranoticia{
            @include flex-column;
            align-items: center;
            margin-right: 10px;
            margin-left: 50px;
            margin-top: 50px;
        }
        /*se crea la clase que define el estilo de la segunda noticia, principalmente la composicion de los elementos de cada seccion de noticias, es igual para todas la noticias*/
        .segundanoticia{
            @include flex-column;;
            align-items: center;
            margin-right: 50px;
            margin-left: 10px;
            margin-top: 50px;
        
        }
        /*se crea la clase que define el estilo de la tercera noticia, principalmente la composicion de los elementos de cada seccion de noticias, es igual para todas la noticias*/
        .terceranoticia{
            @include flex-column;
            align-items: center;
            margin-right: 10px;
            margin-left: 50px;
            margin-top: 50px;
        }
        /*se crea la clase que define el estilo de la tercera noticia, principalmente la composicion de los elementos de cada seccion de noticias, es igual para todas la noticias*/
        .cuartanoticia{
            @include flex-column;
            align-items: center;
            margin-right: 50px;
            margin-left: 10px;
            margin-top: 50px;
        
        }
        /*clase que define el estilo del contendor titulo de la pagina de Noticias*/    
        .noticia-titulo{
            width: 80%;
            justify-items: center;
            padding: auto;
    
        }
        /*clase que define el estilo del titulo del la pagina de Noticias */
        .noticia-titulo h3{
            width: 100%;
            font-size: 15px;
        }
        /*clase que define estilo del link de refencia de la notic*/
        .noticia-titulo h3 a{
            text-decoration: none;
            color: rgb(230, 105, 32);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        /*clase que define el estilo del contenido de la noticia como pre-view*/
        .noticia-contenido{
            width: 80%;
            display: flex;
            flex-direction: column;
        }
        .bottompage{
            background-color: rgb(70, 68, 68);
            @include flex-row;
            @include alturaxancho(300px,100%);
        }
        /*se crea la clase que define el contenedor principal de cada seccion del footer*/
        .bottompagecontent{
            @include alturaxancho(100%,30% );
            @include flex-column;
            align-items: center;
        }
        .bottompage-footer-head{
            height: 30%;
        }
        .bottompage-footer-body{
            height: 70%;
        }
        .bottompage-footer-head-title{
            width: 100%;
        }
        /*se crea estilo para el contenedor general de la seccion Enlaces de interes*/
        .enlacescontenido{
            @include flex-row;
            align-items: center;
            width: 100%;
        }
        .titulos-footer{
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            color: white;
        }
        /*se crea la clase que define los tamaños y especiados de los iconos de los enlaces de interes*/
        .link-icon{
            width: 30%;
            padding-left: 20px;
        }
        /*se crea la clase que define el nombre de cada enlace de intereses*/
        .link-title{
            width: 70%;
        }
        /*se crea la clase que define el estilo de cada nombre de los enlaces de intereses*/
        .link-title h5{
            width: 80%;
            font-family: 'Open Sans', sans-serif;
            font-size: 15px;
        }
        /*se crea la clase que formate el estilo de la etiqueta a*/
        .link-title h5 a{
            text-decoration: none;
            color: white;
        }
        .link-title h5 a:hover{
            color: rgb(22, 133, 236);
        }
        .contacto-contenido{
            @include alturaxancho(100%,100% );
            @include flex-column;
            align-items: center;
        }
        .contacto-datos{
            display: inline;
            height: 100%;
        }
        .contacto-datos li{
            list-style: none;
            @include alturaxancho(30%,100% );
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
        }
        
        /*se crea la clase que estable el estilo de la seccion de las formas de pagos de los clientes*/
        .bottompagepagos{
            @include flex-column;
        }
        /**/
        .bottompagepagos li {
            list-style: none;
            padding: 10px;
        }    
}
/*se crea la media query correspondiente cuando el navegado usado es menor a 480px*/   
@media only screen and (max-width:480px) {
    body{
        width: 100%;
    }
    main{
        width: 100%;
        margin: 0;
    }
    header{
        width: 100%;
        background-color: rgb(250, 246, 249);
    }
    #grillaGeneralNoticias{
        grid-template-columns: 100%;
        grid-template-rows: 180px 450px 450px 450px 450px;
        grid-template-areas: 
                            "tituloNoticias"
                            "noticia1"
                            "noticia2"
                            "noticia3"
                            "noticia4";
    }                        
    #tituloNoticias{
        grid-area: tituloNoticias;
    }
    #noticia1{
        grid-area: noticia1;
        @include alturaxancho(100%,100%);
    }
    #noticia2{
        grid-area: noticia2;
        width: 100%;
    }
    #noticia3{
        grid-area: noticia3;
        width: 100%;
    }
    #noticia4{
        grid-area: noticia4;
        width: 100%;
    }
    .toppagenoticias{
        background-image: url(Imagenes/fondonoticias.jpg);
        background-size: cover;
        @include alturaxancho(100%,90%);
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin: auto;
        margin-bottom: 5px;
    }
    .toppagenoticias h2{    
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color:rgb(239, 240, 243);
    }
    .primeranoticia{
        @include flex-column;
        align-items: center;
        margin-top: 5px;
    }
    .segundanoticia{
        @include flex-column;
        align-items: center;
        margin-top: 5px;
    }
    .terceranoticia{
        @include flex-column;
        align-items: center;
        margin-top: 5px;
    }
    .cuartanoticia{
        @include flex-column;
        align-items: center;
        margin-top: 5px;
    }
    .noticia-titulo{
        width: 80%;
        justify-items: center;
        padding: auto;
    }
    .noticia-titulo h3{
        width: 100%;
        font-size: 15px;
        font-weight: bold;
    }
    .noticia-titulo h3 a{
        text-decoration: none;
        color: rgb(230, 105, 32);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .noticia-contenido{
        @include alturaxancho(100%,80%);
        @include flex-column;

    }
    .noticia-contenido p{
        margin-top: 15px;
        font-size: 13px;
    }
    .bottompage{
        background-color: rgb(70, 68, 68);
        @include flex-column;
    }
    .bottompagecontent{
        @include flex-column;
    }
    .bottompagecontent h4{
        text-align: center;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .bottompagecontent li{
        color: white;
        font-weight: 600;
        list-style: none;
        padding: 3px;
        display: block;
    }
    .bottompagecontent li a{
        text-decoration: none;
        color: white;
    }
    .enlacescontenido{
        @include flex-row;
        align-items: center;
    }
    .link-icon{
        width: 30%;
        padding-left: 20px;
    }
    .link-title{
        width: 70%;
    }
    .link-title h5{
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        width: 80%;
    }
    .link-title h5 a{
        text-decoration: none;
        color: rgb(255, 251, 251);
    }
}